@import "./helpers/variables";
@import "./helpers/functionals";
@import "./helpers/globals";

@import "./layout/loginPage";
@import "./layout/dashboardPA";
@import "./layout/dashboardAdmin";
@import "./layout/terimaDokumenAdmin";
