.dashboard {
  padding: 0 1rem;
  height: 100vh;
  background-color: $light-color;

  .content {
    height: 100%;
    padding: 2rem 0;
  }

  &__search {
    margin-bottom: 1.5rem;

    h1 {
      max-width: 50%;
      text-transform: uppercase;
      margin-bottom: 2rem;
      color: $primary-color;
      font-size: 2rem;
      font-weight: weight(bold);

      @include breakpoint-up(smPhone) {
        font-size: 2.5rem;
      }
    }

    &-find {
      width: 100%;
      position: relative;

      input {
        flex: 1;
        padding: 8px 14px;
        border-radius: 5px;
        background-color: $dark-color;
        color: #ffffff;
        border: none;
        font-size: 0.75rem;
      }

      button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 8px 14px;
        border-radius: 5px;
        background: none;
        font-size: 0.75rem;
        color: #ffffff;
        transition: all 0.2s ease;

        &:hover,
        &:focus,
        &:active {
          background-color: $primary-color;
        }
      }
    }
  }

  &__table {
    thead th {
      vertical-align: middle;
      text-align: center;
      font-size: 0.625rem;
      font-weight: weight(medium);
    }

    tbody td {
      font-size: 0.625rem;
    }
  }
}
