.kepala {
  &__content {
    .dropdown {
      margin-bottom: 1rem;

      &-toggle {
        @include breakpoint-down(phone) {
          width: 100%;
          padding: 10px;
        }
      }

      @include breakpoint-up(tablet) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
