.admin {
  &__content {
    &-table {
      .btn-edit {
        padding: 0;
        background: none;
        font-size: 1rem;
      }
    }

    &-footer {
      margin: 1.25rem 0;
      text-align: right;
      color: $light-color;

      .btn-terima {
        padding-left: 1rem;
        padding-right: 1rem;
        text-transform: uppercase;
        font-weight: weight(medium);
      }
    }
  }
}
