.main {
  &__content {
    @include breakpoint-up(tablet) {
      padding: 1.5rem;
    }

    &-search {
      margin-bottom: 1rem;

      @include breakpoint-up(tablet) {
        margin-bottom: 1.5rem;
      }

      .find {
        width: 100%;
        position: relative;

        @include breakpoint-up(tablet) {
          justify-content: flex-end;
          width: 40%;
          margin-left: auto;
        }

        input {
          flex: 1;
          padding: 8px 12px;
          font-size: 14px;

          @include breakpoint-up(smPhone) {
            font-size: 1rem;
          }
        }

        button {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          padding: 8px 12px;
          background: none;
          border: 1px solid transparent;
          font-size: 1rem;
          color: $primary-color;
          transition: all 0.2s ease;

          &:hover,
          &:focus,
          &:active {
            border: 1px solid $primary-color;
          }
        }
      }
    }
  }
}
