.kabag {
  &__content {
    &-footer {
      text-align: right;

      a {
        color: $light-color;
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: weight(medium);
      }
    }
  }
}
