.kepala {
  &__content {
    .dropdown {
      margin-bottom: 1rem;
      color: $light-color;

      &-toggle {
        @include breakpoint-down(phone) {
          width: 100%;
          padding: 10px;
        }
      }

      &-item {
        &:hover {
          background-color: $accent-color;
        }
      }
    }

    &-table {
      table {
        tbody tr {
          &.hover-effect {
            cursor: pointer;

            &:hover {
              background-color: rgba(0, 0, 0, 0.075);
            }
          }

          .btn-action {
            border: 1px solid $primary-color;
            background: none;
            color: $primary-color;

            &:hover {
              background-image: linear-gradient(rgba(0, 0, 0, 0.1));
            }
          }
        }
      }
    }
  }
}
