.admin {
  &__content {
    &-table {
      .btn-edit {
        padding: 0;
        background: none;
        font-size: 1rem;
      }
    }

    &-footer {
      text-align: right;
      color: $light-color;

      .btn-terima {
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: weight(medium);
      }
    }
  }
}
