.konfirmasi {
  &__content {
    &-form {
      form {
        flex-direction: column;

        .part {
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }

        .profile {
          input {
            font-size: 1rem;
          }

          #soafield {
            box-shadow: none;
            padding: 0.75rem 10px;

            &::placeholder {
              color: $secondary-color;
            }
          }
        }

        .info {
          @include breakpoint-up(mdDesktop) {
            width: 40%;
            margin: 0 auto;
          }

          p {
            margin-bottom: 2rem;
            text-align: center;
            color: $dark-color;
            text-transform: uppercase;
            font-weight: weight(bold);

            @include breakpoint-up(tablet) {
              font-size: 1.5rem;
            }
          }

          &-choice {
            border-bottom: 1px solid #c6c8cb;
            padding: 2rem 0;

            &.sopp {
              padding-top: 0;
            }

            &.foto {
              border-bottom: none;
              padding-bottom: 0;
            }

            label {
              margin-bottom: 1rem;
              font-weight: weight(bold);
            }

            &-options {
              justify-content: space-evenly;

              .option {
                font-weight: weight(light);
                text-transform: capitalize;
              }
            }
          }

          &-warning {
            visibility: hidden;
            display: inline-block;
            border-radius: 4px;
            width: 100%;
            margin-top: 1rem;
            padding: 5px;
            background-color: rgba($red-color, 0.4);
            font-size: 0.75rem;
            color: $red-color;
            text-align: center;

            @include breakpoint-up(lgPhone) {
              font-size: 1rem;
            }

            &.show {
              visibility: visible;
              animation: kelapKelip 0.6s infinite alternate-reverse;
            }

            @keyframes kelapKelip {
              from {
                background-color: rgba($red-color, 0.4);
              }
              to {
                background-color: rgba($red-color, 0);
              }
            }
          }
        }

        .buttons {
          margin-top: 1rem;

          @include breakpoint-up(mdDesktop) {
            width: 40%;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
          }

          button {
            flex: 1;
            border: 2px solid $primary-color;
            text-transform: uppercase;
            font-weight: weight(medium);

            @include breakpoint-up(mdDesktop) {
              padding: 0.5rem;
            }

            &:first-child {
              border-radius: 4px 0 0 4px;
              background: none;
              color: $primary-color;
            }
            &:last-child {
              border-radius: 0 4px 4px 0;
            }
          }
        }
      }

      input {
        &:not(input[type="radio"]) {
          width: 100%;

          &:not(:last-child) {
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }
}
