.login {
  height: 100vh;
  background-color: $light-color;

  &__header {
    height: 30vh;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../dist/assets/bg-login.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(40%) opacity(0.3);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../dist/assets/logo-login.png");
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__content {
    flex-direction: column;
    height: 70vh;

    &-greetings {
      color: $primary-color;

      .title {
        margin-bottom: 0.5rem;

        @include breakpoint-up(smPhone) {
          margin-bottom: 1rem;
        }

        h1 {
          text-transform: uppercase;
          font-size: 2.25rem;
          line-height: 1.3;
        }

        h2 {
          font-size: 1.25rem;
          font-weight: weight(medium);
          line-height: 1.3;
        }
      }

      p {
        color: $secondary-color;
        font-size: 0.875rem;
        text-transform: capitalize;
      }
    }

    &-form {
      flex-grow: 1;
      margin-top: 3rem;

      form {
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
      }

      &-input {
        flex-direction: column;
        margin-bottom: 1.5rem;

        @include breakpoint-up(smPhone) {
          margin-bottom: 2rem;
        }

        input {
          padding: 10px;
          background-color: $light-color;
          border: 1px solid $secondary-color;
          border-radius: 12px;
          outline: none;
          font-family: $ff-primary;
          color: $secondary-color;

          @include breakpoint-up(smPhone) {
            padding: 15px;
          }

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }

          &::placeholder {
            color: $secondary-color;
          }
        }
      }

      &-button {
        padding: 10px;
        background-color: $primary-color;
        border: none;
        border-radius: 12px;
        outline: none;
        font-family: $ff-primary;
        color: $light-color;

        @include breakpoint-up(smPhone) {
          padding: 15px;
        }
      }
    }
  }
}
