.login {
  height: 100vh;
  background-color: $light-color;

  &__header {
    height: 30vh;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../dist/assets/bg-login.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(40%) opacity(0.3);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../dist/assets/logo-login.png");
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__content {
    flex-direction: column;
    height: 70vh;

    &-greetings {
      color: $primary-color;

      .title {
        margin-bottom: 0.25rem;

        h1 {
          font-size: 0.9125rem;
          font-weight: weight(bold);
          line-height: 1.1;
          text-transform: uppercase;
          color: $primary-color;

          span {
            // text-transform: none;
            font-size: 3.5rem;
            color: $accent-color;
          }
        }
      }

      p {
        color: $secondary-color;
        font-size: 0.875rem;
        text-transform: capitalize;
      }
    }

    &-form {
      flex-grow: 1;
      margin-top: 3rem;

      form {
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
      }

      &-input {
        flex-direction: column;
        margin-bottom: 1rem;

        @include breakpoint-up(smPhone) {
          margin-bottom: 1.5rem;
        }

        .item {
          color: $secondary-color;
          box-shadow: 0px 3px 5px #c6c8cb;

          i {
            padding: 0 15px;
          }

          input {
            flex: 1;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
          }

          &:not(:last-child) {
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }
}
