.report {
  .header-container {
    &-content {
      @include breakpoint-down(phone) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
      }
    }

    .logo {
      img {
        @include breakpoint-down(phone) {
          width: 50%;
        }
      }
    }

    .title {
      h1 {
        width: max-content;
        color: $light-color;

        @include breakpoint-down(phone) {
          text-align: left;
        }

        span {
          color: $accent-color;
        }
      }
    }
  }

  &__content {
    &-dropdown {
      gap: 1rem;
      margin-bottom: 1rem;

      .dropdown {
        flex: 1;

        @include breakpoint-up(smDesktop) {
          flex: unset;
        }

        &-toggle {
          width: 100%;
          color: $light-color;
        }

        &-item {
          cursor: pointer;

          &:hover {
            background-color: $accent-color;
          }
        }
      }
    }
  }
}
