.report {
  &__content {
    &-box {
      flex-direction: column;
      height: 100%;

      a {
        padding: 1rem;
        border-radius: 4px;
        background-color: #c6c8cb;
        color: $dark-color;
        text-transform: capitalize;
      }
    }
  }
}
