.main {
  &__content {
    &-desc {
      margin-bottom: 1rem;
      padding: 0.75rem;
      background-color: $secondary-color;
      border-radius: 4px;

      @include breakpoint-up(tablet) {
        margin-bottom: 1.5rem;
      }
      @include breakpoint-up(smDesktop) {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }
      @include breakpoint-up(mdDesktop) {
        width: fit-content;
      }

      .icon {
        margin-right: 0.75rem;
        color: $accent-color;
      }

      p {
        margin: 0;
        color: #ccc;
        font-size: 0.75rem;
        align-self: center;

        @include breakpoint-up(smDesktop) {
          font-size: 1rem;
        }
      }
    }

    &-input {
      form {
        &:last-child {
          text-align: right;
        }
      }

      input,
      .input {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 1rem;

          @include breakpoint-up(smDesktop) {
            margin-bottom: 1.25rem;
          }
        }
      }

      .datetime {
        margin-bottom: 1rem;

        input {
          margin: 0;

          &:first-child {
            margin-right: 0.5rem;
          }
          &:last-child {
            margin-left: 0.5rem;
          }
        }
      }

      .permintaan {
        margin-bottom: 1rem;
        border-radius: 4px;
        box-shadow: 0px 3px 5px #d6d8db;
        background-color: $light-color;

        span {
          padding: 10px;
          font-size: 0.75rem;
          font-weight: weight(semiBold);

          @include breakpoint-up(smPhone) {
            padding: 12px;
            font-size: 1rem;
          }
        }

        input {
          box-shadow: none;
          background: none;
          padding-left: 0;
        }
      }

      button {
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: weight(medium);
      }
    }
  }
}
