// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

// GLOBAL
body {
  font-family: $ff-primary;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

input,
.input {
  padding: 10px;
  background-color: $light-color;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 3px 5px #d6d8db;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $secondary-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }

  &::placeholder {
    color: #c6c8cb;
  }
}

button,
.btn {
  padding: 10px;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $light-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1));
  }

  &-action {
    border: 1px solid $primary-color;
    background: none;
    color: $primary-color;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1));
    }
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;

  &--p {
    padding: 2rem;
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
}

// COMPONENTS
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex-grow: 1;
    padding: 1rem;

    &-table {
      thead {
        tr {
          background-color: #d6d8db;
        }

        th {
          vertical-align: middle;
          text-align: center;
          font-size: 0.75rem;
          font-weight: weight(medium);

          @include breakpoint-up(tablet) {
            font-size: 1rem;
          }
        }
      }

      tbody td {
        font-size: 0.75rem;
        text-align: center;
        text-transform: capitalize;
        vertical-align: middle;

        @include breakpoint-up(tablet) {
          font-size: 1rem;
        }
      }

      tbody tr {
        &.hover-effect {
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.075);
          }
        }
      }

      .docid {
        display: none;
      }
    }
  }
}

.header-container {
  display: inline;

  &-user {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding: 10px 1rem;
    background-color: #fff;

    @include breakpoint-up(tablet) {
      padding: 8px 1.5rem;
    }

    .name {
      background: none;
      padding: 0;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: $secondary-color !important;
      font-size: 0.75rem;
      font-weight: weight(semiBold);
      text-transform: uppercase;
      letter-spacing: -0.25px;
      cursor: default;

      @include breakpoint-up(smPhone) {
        font-size: 14px;
      }
      @include breakpoint-up(tablet) {
        font-size: 1rem;
      }

      &:after {
        margin-left: 0.5rem;
      }

      &:hover {
        border-bottom: 1px solid $secondary-color;
      }

      &-page {
        &:hover {
          background-color: $accent-color;
        }
      }
    }

    .logout {
      border-radius: 4px;
      padding: 5px 8px;
      background-color: $primary-color;
      color: $light-color;
      font-size: 0.75rem;
      text-transform: capitalize;

      &:hover {
        text-decoration: none;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2));
      }

      @include breakpoint-up(smPhone) {
        font-size: 14px;
      }
      @include breakpoint-up(tablet) {
        font-size: 1rem;
        padding: 8px 12px;
      }
    }
  }

  &-content {
    width: 100%;
    padding: 1.5rem 2rem;
    align-items: flex-end;
    background-color: $primary-color;

    @include breakpoint-up(smPhone) {
      padding: 1.5rem 3rem;
    }
    @include breakpoint-up(tablet) {
      padding: 2.5rem 5rem;
    }
    @include breakpoint-up(smDesktop) {
      padding: 3rem 6rem;
    }

    &.top-space {
      margin-top: 56px;
    }

    .logo {
      flex: 0.8;

      @include breakpoint-up(tablet) {
        flex: 0.5;
      }
      @include breakpoint-up(mdDesktop) {
        flex: 0.3;
      }

      img {
        width: 100%;
      }
    }

    .title {
      flex: 1.2;

      @include breakpoint-up(tablet) {
        flex: 1.5;
      }
      @include breakpoint-up(mdDesktop) {
        flex: 1.7;
      }

      h1 {
        width: 50%;
        margin-left: auto;
        margin-bottom: 0;
        text-transform: capitalize;
        text-align: right;
        color: $light-color;
        font-size: 14px;

        @include breakpoint-up(smPhone) {
          font-size: 1rem;
        }
        @include breakpoint-up(lgPhone) {
          font-size: 1.25rem;
        }
        @include breakpoint-up(tablet) {
          font-size: 1.5rem;
        }
        @include breakpoint-up(smDesktop) {
          font-size: 2rem;
        }
        @include breakpoint-up(mdDesktop) {
          font-size: 1.75rem;
        }
        @include breakpoint-up(lgDesktop) {
          font-size: 2rem;
        }
      }
    }
  }
}

// FIELD STATUS DI TABLE
#statusfilter {
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 2px 3px;
  background: rgba(255, 255, 255, 0.3);
  color: $dark-color;
  font-weight: weight(medium);
  font-size: 8px;
  text-align-last: center;
  -webkit-appearance: none;

  @include breakpoint-up(smPhone) {
    font-size: 10px;
  }
  @include breakpoint-up(smDesktop) {
    font-size: 12px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.45);
  }

  option {
    background: #d6d8db;
  }
}

// POPUP
.popup {
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 225px;
  padding: 1.5rem;
  background-color: $light-color;
  border-radius: 4px;
  box-shadow: 0px 4px 8px $secondary-color;
  opacity: 0;
  transition: top 0.5s ease, transform 0.5s ease, opacity 1s ease;

  &.show {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.75rem;

    @include breakpoint-up(smPhone) {
      font-size: 1rem;
    }
  }
}
