*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $ff-primary;
}

a {
  text-decoration: none;
}

input {
  padding: 10px;
  background-color: $light-color;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 3px 5px #c6c8cb;
  font-family: $ff-primary;
  color: $secondary-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
  }

  &::placeholder {
    color: $secondary-color;
  }
}

button {
  padding: 10px;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: $ff-primary;
  color: $light-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  &--p {
    padding: 2rem;
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
}
