// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

// GLOBAL
body {
  font-family: $ff-primary;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

input,
.input {
  padding: 10px;
  background-color: $light-color;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 3px 5px #d6d8db;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $secondary-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }

  &::placeholder {
    color: #c6c8cb;
  }
}

button,
.btn {
  padding: 10px;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $light-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2));
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;

  &--p {
    padding: 2rem;
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
}

// COMPONENTS
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    flex-grow: 1;
    padding: 1rem;

    &-table {
      thead {
        tr {
          background-color: #d6d8db;
        }

        th {
          vertical-align: middle;
          text-align: center;
          font-size: 0.75rem;
          font-weight: weight(medium);

          @include breakpoint-up(tablet) {
            font-size: 1rem;
          }
        }
      }

      tbody td {
        font-size: 0.75rem;
        text-align: center;
        text-transform: capitalize;
        vertical-align: middle;

        @include breakpoint-up(tablet) {
          font-size: 1rem;
        }
      }
    }
  }
}

.header-container {
  background-color: $primary-color;
  padding: 1.5rem 0;

  &-content {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;

    .content-top {
      justify-content: flex-end;
      margin-bottom: 1.5rem;

      .user {
        color: $light-color;
        font-size: 0.75rem;

        @include breakpoint-up(smPhone) {
          font-size: 1rem;
        }
        @include breakpoint-up(smDesktop) {
          font-size: 1.25rem;
        }
      }

      .logout {
        padding: 0;
        margin-left: 1rem;
        font-size: 0.75rem;

        @include breakpoint-up(smPhone) {
          font-size: 1rem;
        }
        @include breakpoint-up(smDesktop) {
          font-size: 1.5rem;
        }

        &:hover {
          background: none;
          color: $accent-color;
        }
      }
    }

    .content-bottom {
      align-items: flex-end;

      .logo {
        flex: 0.8;

        @include breakpoint-up(tablet) {
          flex: 0.5;
        }
        @include breakpoint-up(mdDesktop) {
          flex: 0.3;
        }

        img {
          width: 100%;
        }
      }

      .title {
        flex: 1.2;

        @include breakpoint-up(tablet) {
          flex: 1.5;
        }
        @include breakpoint-up(mdDesktop) {
          flex: 1.7;
        }

        h1 {
          width: 50%;
          margin-left: auto;
          margin-bottom: 0;
          text-transform: capitalize;
          text-align: right;
          color: $light-color;
          font-size: 14px;

          @include breakpoint-up(smPhone) {
            font-size: 1rem;
          }
          @include breakpoint-up(lgPhone) {
            font-size: 1.25rem;
          }
          @include breakpoint-up(tablet) {
            font-size: 1.5rem;
          }
          @include breakpoint-up(smDesktop) {
            font-size: 2rem;
          }
          @include breakpoint-up(mdDesktop) {
            font-size: 1.75rem;
          }
          @include breakpoint-up(lgDesktop) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

// WARNAIN BUTTON DI MODAL/POPUP
.sweetalert-btn-primary {
  background-color: $primary-color !important;
}

// BUTTON ACTION DI TABLE ADMIN
.admin-action-form {
  margin: 1rem 0;

  & > * {
    width: 100%;
    font-size: 14px;
    color: $dark-color;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__soa {
    &::placeholder {
      color: $dark-color;
    }
  }

  &__noregis {
    &::placeholder {
      color: $dark-color;
    }
  }

  &__permintaan {
    border-radius: 4px;
    box-shadow: 0px 3px 5px #d6d8db;
    background-color: $light-color;

    span {
      height: 100%;
      padding: 10px;
      font-weight: weight(semiBold);

      @include breakpoint-up(smPhone) {
        padding: 12px;
        font-size: 1rem;
      }
    }

    input {
      width: 100%;
      box-shadow: none;
      background: none;
      padding-left: 0;
      font-size: 14px;
    }
  }
}

// FIELD STATUS DI TABLE
#statusfilter {
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 2px 3px;
  background: rgba(255, 255, 255, 0.3);
  color: $dark-color;
  font-weight: weight(medium);
  font-size: 8px;
  text-align-last: center;
  -webkit-appearance: none;

  @include breakpoint-up(smPhone) {
    font-size: 10px;
  }
  @include breakpoint-up(smDesktop) {
    font-size: 12px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.45);
  }

  option {
    background: #d6d8db;
  }
}
