*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $ff-primary;
}

a {
  text-decoration: none;
}

input {
  padding: 10px;
  background-color: $light-color;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 3px 5px #d6d8db;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $secondary-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }

  &::placeholder {
    color: #c6c8cb;
  }
}

button {
  padding: 10px;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $light-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  &--p {
    padding: 2rem;
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    flex-grow: 1;
    padding: 1rem;

    &-table {
      thead {
        th {
          vertical-align: middle;
          text-align: center;
          font-size: 0.75rem;
          font-weight: weight(medium);
        }
      }

      tbody td {
        font-size: 0.75rem;
        text-align: center;
      }
    }
  }
}

.header-container {
  background-color: $light-color;

  &-content {
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: $primary-color;

    .title {
      color: $light-color;
      font-size: 1.5rem;
      text-transform: capitalize;
    }
  }
}

.sweetalert-btn-primary {
  background-color: $primary-color !important;
}

.register-form {
  margin: 1rem 0;

  & > * {
    width: 100%;
    font-size: 14px;
    color: $dark-color;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__soa {
    &::placeholder {
      color: $dark-color;
    }
  }
}
