// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

// GLOBAL
body {
  font-family: $ff-primary;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

input {
  padding: 10px;
  background-color: $light-color;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 3px 5px #d6d8db;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $secondary-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }

  &::placeholder {
    color: #c6c8cb;
  }
}

button,
.btn {
  padding: 10px;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: $ff-primary;
  font-size: 0.75rem;
  color: $light-color;

  @include breakpoint-up(smPhone) {
    padding: 12px;
    font-size: 1rem;
  }

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2));
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;

  &--p {
    padding: 2rem;
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
}

// COMPONENTS
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    flex-grow: 1;
    padding: 1rem;

    &-table {
      thead {
        tr {
          background-color: #d6d8db;
        }

        th {
          vertical-align: middle;
          text-align: center;
          font-size: 0.75rem;
          font-weight: weight(medium);

          @include breakpoint-up(tablet) {
            font-size: 1rem;
          }
        }
      }

      tbody td {
        font-size: 0.75rem;
        text-align: center;
        text-transform: capitalize;

        @include breakpoint-up(tablet) {
          font-size: 1rem;
        }
      }
    }
  }
}

.header-container {
  background-color: $primary-color;
  padding: 2rem 2rem 1rem 2rem;

  @include breakpoint-up(tablet) {
    padding: 3rem 3rem 1rem 3rem;
  }

  &-content {
    flex-direction: column;

    @include breakpoint-up(tablet) {
      height: 100%;
    }

    .logo {
      width: 150px;

      @include breakpoint-up(tablet) {
        width: 175px;
      }
      @include breakpoint-up(smDesktop) {
        width: 200px;
      }
    }

    .title {
      margin-top: 4rem;
      color: $light-color;
      font-size: 1.5rem;
      text-transform: capitalize;
      text-align: right;

      @include breakpoint-up(tablet) {
        font-size: 2rem;
      }
      @include breakpoint-up(smDesktop) {
        font-size: 2.5rem;
      }
    }
  }
}

// WARNAIN BUTTON DI MODAL/POPUP
.sweetalert-btn-primary {
  background-color: $primary-color !important;
}

// BUTTON ACTION DI TABLE ADMIN
.admin-action-form {
  margin: 1rem 0;

  & > * {
    width: 100%;
    font-size: 14px;
    color: $dark-color;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__soa {
    &::placeholder {
      color: $dark-color;
    }
  }
}
